@import "tailwindcss";

@theme {
  --color-brand: #809A16;
  --color-brand-light: #9ab91a;
  --color-brand-dark: #637711;
  --color-background: #0f1115;
  --color-foreground: #f8fafc;
  --color-panel: #1e293b;
  --color-panel-border: #334155;
  
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  --font-heading: var(--font-space), var(--font-inter), ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-background text-foreground font-sans antialiased selection:bg-brand selection:text-white;
  }
}
